%title Turing School of Software & Design - Contact
%meta{name: 'description', content: 'Want to become a software developer? Questions about learning to program? Need directions to our campus in Denver, CO? We\'d love to hear from you!'}

.mod-quote.right{style: "background-image: url(#{image_path('bg_quote3.jpg')})"}
  .layout-wrap
    %blockquote
      “The combination of world-class instructors and curriculum pushes you to the edge of your abilities. By the end I was able to join a small startup and jump into a critical role writing production code. There's no way I could have become so proficient so quickly without this program.”
      %footer – <b>Kareem Grant</b>, Developer at <a href="http://cardflight.com" target="_blank">CardFlight</a>

.mod-contact
  %h2 Contact

  %p
    For fastest response, email us at
    = link_to 'contact@turing.io', 'mailto:contact@turing.io'
  %br
  .map
    - link_to 'https://www.google.com/maps/place/Turing+School+of+Software+%26+Design/@39.749733,-104.999996,17z/data=!3m1!4b1!4m2!3m1!1s0x876c78c4f77d2b15:0x3ff4c7d558d0edd1' do
      = image_tag 'http://maps.googleapis.com/maps/api/staticmap?center=39.749733,-104.999996&zoom=16&size=600x300&maptype=roadmap&markers=color:red%label:C%7C39.749733,-104.999996', class: 'image-map'
  %p Turing School of Software & Design
  %p 1510 Blake Street, Denver, CO 80202
  %p Suite LL-E
  %br
  %p phone: 303.731.3117
  %p fax: 303.374.7360
  %p skype: turingschool
  %br
  %p
    facebook:
    = link_to 'facebook.com/turingschool', 'https://www.facebook.com/turingschool'
  %p
    twitter:
    = link_to '@turingschool', 'https://twitter.com/turingschool'
