.mod-intro
  %h2 The world's best developers are built here.
  %p
    We take passionate, hard-working, high-aptitude people with no programming experience and turn them into production-ready
    developers. Better than a four year degree or a nine-week bookcamp, we focus on the skills essential for a succesful programming career.
    It'll be the toughest, most rewarding 27 weeks of your life.
  %p= link_to 'Apply now', 'http://apply.turing.io', class: "button"
  .mod-intro-bg.slider#home-slider
    .slide.active{style: "background-image: url(#{image_path('bg_intro_slide5.jpg')})"}
    .slide{style: "background-image: url(#{image_path('bg_intro_slide2.jpg')})"}
    .slide{style: "background-image: url(#{image_path('bg_intro_slide3.jpg')})"}
    .slide{style: "background-image: url(#{image_path('bg_intro_slide4.jpg')})"}

.mod-columns
  .layout-wrap
    %h2 The Difference

    .col.first
      %h3 Instruction
      %p
        There are many organizations who claim to teach programming. Few of them have our experience
        and track record. Our staff mixes educators-turned-programmers and programmers-turned-educators to
        deliver the highest quality instruction anywhere.
        = link_to 'Learn more about the team.', '/team.html'
    .col
      %h3 Curriculum
      %p
        We practice the tools and techniques that you need to build world-class applications.
        What we teach isn't available in any four-year degree program, and we go much deeper
        than a bootcamp. Turing's curriculum is setup to prepare you for a career of success.
        = link_to 'Learn more about the program and curriculum.', '/program.html'
    .col
      %h3 Results
      %p
        We guarantee that graduates will find a high-quality technical job paying
        at least $65K within three months or we'll refund your tuition. Our hiring
        companies come back again and again because our graduates succeed. See
        student portfolios at
        = link_to 'http://people.turing.io', 'http://people.turing.io'
        and read reviews of the program on
        = link_to 'CourseReport', 'https://www.coursereport.com/schools/turing/#/about'

    %p= link_to 'Learn more', '/difference.html', class: 'button gray'

.mod-quote{style: "background-image: url(#{image_path('bg_quote1.jpg')})"}
  .layout-wrap
    %blockquote
      “I chose this program because it was the only one that promised to produce professional developers and not just give you a kickstart. I had no computer science background and needed to have a real job at the end of it. <br/><br/>We learned by doing – by working together to build real applications, completely immersed in programming. Now I use those skills every day.“
      %footer – <b>Jennifer Eliuk</b>, Developer at <a href="http://turbovote.org" target="_blank">TurboVote</a>

= partial 'get_started'
= partial 'twitter_tracking'
