.mod-people.details
  .layout-inner-wrap
    %h2 Our Team

    %ul.people
      %li
        %figure{style: "background-image: url(#{image_path('p_jeff.jpg')})"}= image_tag('p_jeff_gray.jpg', alt: 'Jeff Casimir')
        %h3 Jeff Casimir
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/j3', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/jcasimir', class: 'github'
        %h4 Executive Director
        %p Stretching back to 2005, Jeff has more experience teaching Ruby and Rails than anyone in the world. Starting his education career with Teach for America in 2003, he’s taught middle school and high school, co-founded a middle school, and created Jumpstart Lab in 2009, Hungry Academy in 2012, and gSchool in 2013. Along the way he’s taught thousands of developers, taken nearly a hundred people from “no experience” to professional, and created over a thousand pages of instructional content.
        %p Beyond the classroom, Jeff is a prolific speaker delivering keynotes, talks, and workshops at dozens of conferences and user groups in addition to co-organizing RailsConf. He contributes regularly to open source and is among the most active Rubyists on Github. His Draper gem has been downloaded almost a million times, while the open source Curriculum repo has helped hundreds of developers raise their skills.
        %p For Turing, Jeff designs the overarching instructional program, coordinates the instructional team, connects students with the community, directs the hiring process, and teaches full-group sessions.

      %li
        %figure{style: "background-image: url(#{image_path('p_jorge.jpg')})"}= image_tag('p_jorge_gray.jpg', alt: 'Jorge Téllez')
        %h3 Jorge Téllez
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/novohispano', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/novohispano', class: 'github'
        %h4 Director of Admissions & Instructor
        %p Jorge spent years in international development and business. He spent several years building partnerships with businesses, governments and NGOs in Latin America and the Caribbean. He worked in a presidential campaign, promoted Human Rights in Cuba, launched disaster relief initiatives and raised awareness for human trafficking, among other things.
        %p Jorge worked also in technology building several products for major clients in Mexico. His products raised funds, received awards and were praised in the press. Always a student to technology, he enrolled in the first gSchool course in 2013.
        %p Since then, Jorge’s demonstrated an extreme aptitude for both programming and teaching. He started with 1-on-1 student support and quickly grew into running full group sessions, writing new curriculum, and developing software.
        %p At Turing, Jorge’s in charge of student admissions, coordinating software projects, and running full-group class sessions, particularly around Ruby, Ruby on Rails, and product design.

      %li
        %figure{style: "background-image: url(#{image_path('p_rachel.jpg')})"}= image_tag('p_rachel_gray.jpg', alt: 'Rachel Warbelow')
        %h3 Rachel Warbelow
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/rwarbelow', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/rwarbelow', class: 'github'
        %h4 Pedagogy Lead & Instructor
        %p Rachel is a teacher first, having started in Las Vegas with Teach for America in 2007 and continuing into 2014. In 2010 she and a partner started a school within a school, the Scholars Working OverTime (SWOT) program to propel students towards college. She got her start in programming through DevBootcamp’s Chicago program in 2013. Over the 2013-2014 school year she began teaching programming to her students. Since they didn’t have computers, Rachel had them write code with paper and pencil. She acted as the computer to correct their work. Along with a friend, she launched a successful IndieGoGo campaign to build a modern computer lab for the students and accelerate their growth.
        %p At Turing, Rachel works running full-group classes, setting learning goals, preparing achievement standards, and establishing evaluation rubrics.
        %p Externally, Rachel also coordinates our community efforts, like teaching workshops and courses to high school and college students, sharing our materials with other nonprofits around the world, and figuring out how to broaden our impact beyond our walls.

      %li
        %figure{style: "background-image: url(#{image_path('p_steve.jpg')})"}= image_tag('p_steve_gray.jpg', alt: 'Steve Kinney')
        %h3 Steve Kinney
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/stevekinney', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/stevekinney', class: 'github'
        %h4 Instructor
        %p Steve began his career as a New York City Teaching Fellow, teaching Special Education and science in high-need schools in Manhattan and Brooklyn. In 2010, he was selected to serve as one of only 250 lead teachers by New York City Department of Education. Steve is also an alumnus of the EDesign Lab, a collaboration between educators, technologists, and designers to prototype and incubate real examples of what interactive digital learning can look like to improve student engagement, motivation, and success.
        %p He developed a student information database —built in Ruby— that made data from a variety of sources easily available to teachers and administrators. Steve also started a three-week summer Code Camp in coordination with local startups to teach web development to middle and high school students.
        %p Prior to Turing, Steve was the Director of Educational Technology at the Council for Economic Education. He managed the creation and development of rich, interactive, student-driven learning experiences using the open web technologies. He has a Master's Degree in Special Education and an Advanced Diploma in Educational Technology and Leadership.

      %li
        %figure{style: "background-image: url(#{image_path('p_raissa.jpg')})"}= image_tag('p_raissa_gray.jpg', alt: 'Raissa Shafer')
        %h3 Raissa Shafer
        %ul.social
          -# %li= link_to 'Twitter', 'https://twitter.com/stevekinney', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/raissashafer', class: 'github'
        %h4 Business Manager
        %p Raissa comes from a background in international education and nonprofit management. She spent seven years designing alternative study abroad programs and oversaw operations in 22 countries, building partnerships with universities, NGOs, schools, and businesses in Latin America, Africa, Europe, Asia, and Australia.
        %p She spent the last several years focusing on community organizations in Denver where she built fundraising plans, wrote grants, facilitated community organizing efforts, and managed projects for a variety of organizations including grassroots community groups, Arts Street, LiveWell Colorado, a large family foundation, the Colorado Haiti Project, Africa Network for Animal Welfare, and the Alliance for Sustainable Colorado.
        %p At Turing, she manages the behind the scenes systems to support the students and instructors. She also coordinates the admissions process and builds relationships with mentors and employers to ensure that students are successful beyond their time at Turing.

      %li
        %figure{style: "background-image: url(#{image_path('p_josh_m.jpg')})"}= image_tag('p_josh_m_gray.jpg', alt: 'Josh Mejia')
        %h3 Josh Mejia
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/joshuamejia', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/jmejia', class: 'github'
        %h4 Instructor
        %p Josh worked several years as a designer, front end developer, and account manager for an advertising agency in Wisconsin. His clients included several large, publicly traded companies.
        %p After graduating from gSchool in June 2013, Josh worked as a Software Developer at Comverge where he used Ruby to connect to hardware and control the flow of electricity and power consumption on the power grid.
        %p At Turing, Josh runs full-group sessions, helps students with 1-on-1 mentoring and shares his experience working on large-scale Rails apps.

      %li
        %figure{style: "background-image: url(#{image_path('p_horace.jpg')})"}= image_tag('p_horace_gray.jpg', alt: 'Horace Williams')
        %h3 Horace Williams
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/worace', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/worace', class: 'github'
        %h4 Instructor
        %p Horace started his career as an architect, initially working at a small firm in Berkeley, CA. He shortly switched over to programming by attending Hungry Academy, a Turing predecessor run by LivingSocial in Washington, DC. After Hungry Academy, Horace worked on LivingSocial's consumer engineering team for 2 years, focusing especially on Service Extraction, Internal APIs, Scaling and Performance.
        %p At Turing, Horace enjoys teaching full-group sessions, working with students in small groups or 1-on-1 and writing new course materials. He runs a weekly study group on Data Structures and Algorithms and does his best to encourage development of the Turing esprit de corps.

      %li
        %figure{style: "background-image: url(#{image_path('p_heather.jpg')})"}= image_tag('p_heather_gray.jpg', alt: 'Heather Winner')
        %h3 Heather Winner
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/funnygirrl', class: 'twitter'
          -# %li= link_to 'Github', 'https://github.com/worace', class: 'github'
        %h4 Organizational Development Consultant
        %p Heather Winner has more than 13 year’s experience in the non-profit sector with a focus on providing technical assistance and organizational development strategies. Her background includes project management, nonprofit best practices, and building consensus around strategic planning and fundraising.
        %p Heather has seven years’ experience creating and delivering educational content to a wide variety of audiences including adolescents, parents and families, adult learners, community coalitions, and federal/state employees throughout Colorado. Heather graduated from Colorado State’s Masters in Student Affairs and Higher Education program with an emphasis on student success and wellness.
        %p At Turing, Heather provides support creating student affairs and nonprofit structures. She also likes to capture staff and students having fun (when they least expect it) and then posts it on social media.
      -# %li.even
      -#   %figure{style: "background-image: url(#{image_path('p_josh.jpg')})"}= image_tag('p_josh_gray.jpg', alt: 'Josh Cheek')
      -#   %h3 Josh Cheek
      -#   %ul.social
      -#     %li= link_to 'Twitter', 'https://twitter.com/josh_cheek', class: 'twitter'
      -#     %li= link_to 'Github', 'https://github.com/joshcheek', class: 'github'
      -#   %h4 Instructor &amp; Software Developer
      -#   :markdown
      -#     Josh developed his programming skills in the Air Force then went on to spend several years refining them at 8th Light in Chicago. He’s a natural teacher and caught our eye with his Ruby Kickstart, a set of tutorials created for friends interested in learning Ruby, and the amazing Seeing Is Believing project.
      -#   %p For Turing, Josh brings great industry credentials combined with teaching and mentoring experience. Josh and Jeff teach the majority of full-group classes and work with the rest of the team to develop content.

  .layout-inner-wrap
    %h2 Our Board of Directors

    %ul.people
      %li
        %h3 Ingrid Alongi
        %h4 Chairwoman of the Board
        %h4 CEO-Consulting, QuickLeft
        %p Ingrid brings experience with both interactive agencies and venture-funded start ups. She is committed to providing job stability for software engineers, and focuses on innovative, interesting and challenging work. With deep roots in the Colorodo technology community and many years experience as both a developer and leader, Ingrid is tasked with overseeing the long-run vision and trajectory of Turing.
      %li
        %h3 Yong Bakos
        %h4 Vice-Chair
        %h4 Professor & Vice Chair, SMU's Center of Creative Computation
        %p Yong is a professional software engineer by trade and spent six years teaching at the Colorado School of Mines before joining SMU. He is able to provide a rare perspective combining both higher-ed and technical experience.
      %li
        %h3 Kareem Grant
        %h4 Treasurer
        %h4 Developer, Card Flight
        %p Kareem has an MBA from NYU, several years experience as a business consultant, and graduated from our first developer training class in Denver. He's gone on to work as a developer at CardFlight and recently joined the engineering team at Hireology. Kareem brings valuable perspective as an alumnus, developer, and experienced business expert.
      %li
        %h3 John Dowd
        %h4 Secretary
        %h4 Navy Veteran, Developer, Business Owner
        %p John spent years as a Navy SEAL before becoming a software developer. Over the years he's taught himself the ins-and-outs of programming supported by attending several Jumpstart Lab training classes. Now John runs his own development company building tools to support the armed forces. For Turing, John leads our initiatives to recruit, train, support, and place veterans in great development careers.
      %li
        %h3 Roz Lemieux
        %h4 CEO at Attentive.ly, Partner at Fission Strategy
        %p Roz has spent many years in technology-driven community organizing in roles like the Executive Director of the New Organizing Institute, founding partner at Fission Strategy, and now building Attentive.ly. With deep experience running both small-businesses and non-profits, Roz helps Turing chart a path to long-run sustainability while following through on our non-profit mission.
      %li
        %h3 Chad Fowler
        %h4 Chief Technology Officer, 6Wunderkinder
        %p Chad was the catalyst in co-creating Hungry Academy at LivingSocial, the program that eventually evolved into Turing. As an expert developer, team leader, an software coach, Chad helps ensure Turing is delivering a world-class education.
      %li
        %h3 Dave Thomas
        %h4 Co-Founder, The Pragmatic Bookshelf
        %p Dave opened Ruby to the English-speaking world with his book "Programming Ruby" and changed thousands of careers with "The Pragmatic Programmer". From there, he co-founded The Pragmatic Bookshelf publishing company which has gone on to publish the top-choice books for dozens of technologies. Dave has spent hundreds of hours coaching other developers in the classroom and on the job. For Turing, Dave helps ensure the curricula and programs keep an eye on the larger industry trends and are ready for what's coming next.
      %li
        %h3 Randall Thomas
        %h4 Founder/CEO, Thunderbolt Labs
        %p Perhaps best known for his community building efforts, Randall is a legend in the Ruby community. With over 20 years experience as a developer, Randall's written everything from massive epidemic simulations to software launched into space. He has extensive experience in numerous programming languages, building meaningful brands among programmers, and running enterprise-scale software projects. For Turing, Randall helps set direction on reaching our target student audiences while keeping the curricula grounded in real-world needs.

= partial 'get_started'
