%title Turing School of Software & Design - Our Team
%meta{name: 'description', content: 'Turing School\'s instructional team blends years of computer programming and classroom experience and focuses 100% on student success.'}

.mod-people.details
  .layout-inner-wrap
    %h2 Our Team

    %ul.people
      %li
        %figure{style: "background-image: url(#{image_path('p_jeff.jpg')})"}= image_tag('p_jeff_gray.jpg', alt: 'Jeff Casimir')
        %h3 Jeff Casimir
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/j3', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/jcasimir', class: 'github'
        %h4 Executive Director
        %p Stretching back to 2005, Jeff has more experience teaching Ruby and Rails than anyone in the world. Starting his education career with Teach for America in 2003, he’s taught middle school and high school, co-founded a middle school, and created Jumpstart Lab in 2009, Hungry Academy in 2012, and gSchool in 2013. Along the way he’s taught thousands of developers, taken nearly a hundred people from “no experience” to professional, and created over a thousand pages of instructional content. As the Executive Director of Turing School, Jeff designs the overarching instructional program, coordinates the instructional team, connects students with the community, directs the hiring process, and teaches full-group sessions.

      %li
        %figure{style: "background-image: url(#{image_path('p_jorge.jpg')})"}= image_tag('p_jorge_gray.jpg', alt: 'Jorge Téllez')
        %h3 Jorge Téllez
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/novohispano', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/novohispano', class: 'github'
        %h4 Director of Growth & Operations
        %p Jorge began his career in international development and business. He has built public-private partnerships in Latin America, worked on a presidential campaign, promoted Human Rights in Cuba, launched disaster relief initiatives, and raised awareness for human trafficking, among other things. In light of his diverse experience, Jorge believes that programming is becoming an indispensable tool through which to create social change. Always a student to technology, he enrolled in the first gSchool course in 2013. Since then, Jorge has demonstrated an extreme aptitude for programming and teaching. Committed to creating equal opportunities for all, Jorge started in student support and quickly grew to running full-group sessions, writing new curriculum, developing software, and is now our Director of Growth & Operations.

      %li
        %figure{style: "background-image: url(#{image_path('p_rachel.jpg')})"}= image_tag('p_rachel_gray.jpg', alt: 'Rachel Warbelow')
        %h3 Rachel Warbelow
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/rwarbelow', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/rwarbelow', class: 'github'
        %h4 Co-Director of Academics
        %p Rachel is a teacher first, having started in Las Vegas with Teach for America in 2007 and continuing into 2014. In 2010 she and a partner started the Scholars Working OverTime (SWOT) program to propel students towards college. She got her start in programming through DevBootcamp’s Chicago program in 2013, at which point she began teaching programming to her students. Since they didn’t have computers, Rachel had them write code with paper and pencil before running a successful campaign to build a modern computer lab for the students. At Turing, Rachel works running full-group classes, setting learning goals, preparing achievement standards, and establishing evaluation rubrics.

      %li
        %figure{style: "background-image: url(#{image_path('p_steve.jpg')})"}= image_tag('p_steve_gray.jpg', alt: 'Steve Kinney')
        %h3 Steve Kinney
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/stevekinney', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/stevekinney', class: 'github'
        %h4 Co-Director of Academics
        %p Steve began his career as a New York City Teaching Fellow, teaching special education and science in resource-constrained classrooms. In 2010, he was selected to serve as one of only 250 lead teachers by the New York City Department of Education. Steve is also an alumnus of the EDesign Lab, a collaboration between educators, technologists, and designers to prototype digital learning solutions to improve student engagement, motivation, and success. Prior to assuming the position of Co-Director of Academics at Turing School, Steve was the Director of Educational Technology at the Council for Economic Education. He managed the creation and development of rich, interactive, student-driven learning experiences using the open web technologies.

      %li
        %figure{style: "background-image: url(#{image_path('p_josh_m.jpg')})"}= image_tag('p_josh_m_gray.jpg', alt: 'Josh Mejia')
        %h3 Josh Mejia
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/joshuamejia', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/jmejia', class: 'github'
        %h4 Software Lead & Instructor
        %p Always looking for the his next challenge, Josh walked away from blue collar jobs to pursue web development in 2007. Working first as a software developer in the energy industry, Josh enjoyed playing a small part in an innovative field that would lead to large, worldwide change. As a consultant working with international publicly traded companies, Josh quickly grew his Rails, PHP, graphic design, and project management expertise preparing him to excel as our Software Lead and Instructor at Turing School. Today, Josh enjoys being able to see students’ lives change in a relatively short period of time and intends to continue doing work that is challenging and improves the lives of those that it targets.

      %li
        %figure{style: "background-image: url(#{image_path('p_josh.jpg')})"}= image_tag('p_josh_gray.jpg', alt: 'Josh Cheek')
        %h3 Josh Cheek
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/josh_cheek', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/JoshCheek', class: 'github'
        %h4 Software Developer & Instructor
        %p Josh developed his programming skills in the Air Force where he spent four years as a technical applications specialist, working with the GPS satellites used for nuclear treaty monitoring. After leaving the Air Force in 2007, Josh utilized the G.I. Bill to attend Wichita State where he earned a B.S. in Computer Science with a minor in mathematics. Josh went on to refine his programming skills at 8th Light in Chicago. Today, Josh combines his strong industry credentials with significant teaching and mentoring experience to serve as our Software Developer and Instructor. Turing School’s in-house philosopher, Josh’s dedication to teaching is rooted in his belief that education and empowerment are the only way to change the world.

      %li
        %figure{style: "background-image: url(#{image_path('p_horace.jpg')})"}= image_tag('p_horace_gray.jpg', alt: 'Horace Williams')
        %h3 Horace Williams
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/worace', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/worace', class: 'github'
        %h4 Instructor
        %p Horace started his career as an architect, initially working at a small firm in Berkeley, CA. Shortly thereafter he switched over to programming by attending Hungry Academy, a Turing School predecessor run by LivingSocial in Washington, DC. After Hungry Academy, Horace worked on LivingSocial's consumer engineering team where he focused on service extraction, internal APIs, scaling and performance. As an Instructor at Turing, Horace enjoys teaching full-group sessions, working with students in small groups, and writing new course materials. He runs a weekly study group on data structures and algorithms and does his best to encourage development of the Turing School esprit de corps.

      %li
        %figure{style: "background-image: url(#{image_path('p_michael.jpg')})"}= image_tag('p_michael_gray.jpg', alt: 'Michael Dao')
        %h3 Michael Dao
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/mikedao', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/mikedao', class: 'github'
        %h4 Assistant Instructor
        %p After serving in the calvary unit of the nation’s oldest private military college, Mike pursued a career in technology. Over the course of his diverse career he has worked in an information warfare lab, an academic information and technology department, and at Apple Retail where he led his own service team. Following a stint in corporate information technology, Mike was eager to shift away from procedural work and looked to programming as a means to be creative within his technical career. Attracted to Turing School’s unique focus on high quality education and cohesive community, Mike blends his customer focus, OS X education, and DevOps experience as an Assistant Instructor.

      %li
        %figure{style: "background-image: url(#{image_path('p_andrew.jpg')})"}= image_tag('p_andrew_gray.jpg', alt: 'Andrew Carmer')
        %h3 Andrew Carmer
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/AJCarmer ', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/carmer', class: 'github'
        %h4 Assistant Instructor
        %p Andrew’s extensive business and hospitality experience gives him a unique, pragmatic approach to people and learning. Before joining the Turing team Andrew was - among other, perhaps more traditional, things - a bicycle currier, mud jacker, and artisan pickle maker. Andrew combines this experience with his professional training in Ruby, Rails, and Javascript to excel in his position as Assistant Instructor at Turing School. With his unique blend of social and technical experience, he believes that well-rounded developers make well rounded software, not to mention excellent co-workers and employees. In everything he does, Andrew loves helping people learn and writing software that solves problems and makes peoples lives better.

      %li
        %figure{style: "background-image: url(#{image_path('p_tess.jpg')})"}= image_tag('p_tess_gray.jpg', alt: 'Tess Griffin')
        %h3 Tess Griffin
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/GriffinTess', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/tessgriffin', class: 'github'
        %h4 Assistant Instructor
        %p Tess blends unique experience in art and technology. She has an Bachelors of Fine Art in Interdisciplinary Film and Digital Media and was building her career as an animator just as the animation industry was collapsing. Looking for a fresh challenge, she turned to programming as an opportunity to change people’s lives. With some preliminary programming experience from college, Tess dove into the challenge head on. Always a problem solver, Tess is able to break down problems, communicate strong ideas, and identify creative solutions. She leverages this unique skill set every single day as an Assistant Instructor at Turing School where she enjoys the challenge of helping students solidify strong skills in an accelerated environment.

      -# %li
      -#   %figure{style: "background-image: url(#{image_path('p_mary.jpg')})"}= image_tag('p_mary_gray.jpg', alt: 'Mary Elizabeth Cutrali')
      -#   %h3 Mary Elizabeth Cutrali
      -#   %ul.social
      -#     %li= link_to 'Twitter', 'https://twitter.com/worace', class: 'twitter'
      -#     %li= link_to 'Github', 'https://github.com/maryelizbeth', class: 'github'
      -#   %h4 Mentoring Coordinator
      -#   %p Mary Elizabeth began her foray into software development in 2012 at Hungry Academy, after which she developed internal applications and email tools at LivingSocial. Shortly thereafter, she took a position at Paperless Post in New York City where she was responsible for the payments service and order ecosystem. During a spontaneous trip to Turing School in August of 2015, she joined the team to help organize and streamline the mentorship program. A passionate problem-solver, Mary Elizabeth is invigorated by programming as a way to make problem solving part of her career path. She is also committed to improving technical literacy across all populations and helps Turing School refine its ability to support the continued success of all of its students.

      %li
        %figure{style: "background-image: url(#{image_path('p_joanne.jpg')})"}= image_tag('p_joanne_gray.jpg', alt: 'Joanne Liu')
        %h3 Joanne Liu
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/jwanliu', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/JoanneMWLiu', class: 'github'
        %h4 Operations Manager
        %p Joanne is an educator, first and foremost. Having begun her career as a special education teacher with Teach for America, Joanne has been a Program Coordinator at the Asian Student Center, as well as a Special Education Coordinator at a public high school. Always interested in creating high quality learning environments, Joanne served as Assistant Principal at STRIVE Prep-Westwood before coming on board as our Operations Manager at Turing School. Drawing from her diverse education experience, Joanne enjoys creating and improving systems to ensure efficiency and increase the quality of any education experience. She is passionate about making the lives of staff and students easier so they can focus on teaching and learning.

      %li
        %figure{style: "background-image: url(#{image_path('p_allison.jpg')})"}= image_tag('p_allison_gray.jpg', alt: 'Allison Reu Singer')
        %h3 Allison Reu Singer
        %ul.social
          %li= link_to 'Twitter', 'https://twitter.com/a_reuster', class: 'twitter'
          %li= link_to 'Github', 'https://github.com/allisonreusinger', class: 'github'
        %h4 Student Experience Manager
        %p Allison began her career as a Special Education teacher with Teach for America. She has since earned her MFA in creative writing and wrote her first novel, after which she never really left the classroom. Allison continued her work in K-12 education through teacher evaluation and recruitment before working as an elementary school administrator. She is passionate about creating high quality educational opportunities for every person, regardless of background, which is what attracted her to Turing School. As our Student Experience Manager, Allison plays an integral role helping the School increase opportunities for underrepresented groups in the programming world. She works tirelessly with our students to create a supportive, inclusive, and joyful culture at Turing School.

      -# %li
      -#   %figure{style: "background-image: url(#{image_path('p_rachel_m.jpg')})"}= image_tag('p_rachel_m_gray.jpg', alt: 'Josh Mejia')
      -#   %h3 Marissa Smith
      -#   %ul.social
      -#     -# %li= link_to 'Twitter', 'https://twitter.com/joshuamejia', class: 'twitter'
      -#     -# %li= link_to 'Github', 'https://github.com/jmejia', class: 'github'
      -#   %h4 Professional Development Coordinator
      -#   %p Rachel brings a completely unique skillset to Turing School, serving as our in-house General Counsel. She is an attorney specialized in general business practice. Prior to joining us, Rachel served the role of general counsel to many businesses on a contractual basis. She also has expertise maintaining the corporate governance of a non-profit organization, which proves vital to our own organizational structure. This expertise is rounded out by her professional experience in human resources and management capacity. As Turing School’s General Counsel, Rachel utilizes her past experience to manage all legal and compliance aspects of running our nonprofit organization.

      -# %li
      -#   %figure{style: "background-image: url(#{image_path('p_rachel_m.jpg')})"}= image_tag('p_rachel_m_gray.jpg', alt: 'Josh Mejia')
      -#   %h3 Rachel Martínez
      -#   %ul.social
      -#     -# %li= link_to 'Twitter', 'https://twitter.com/joshuamejia', class: 'twitter'
      -#     -# %li= link_to 'Github', 'https://github.com/jmejia', class: 'github'
      -#   %h4 General Counsel
      -#   %p Rachel brings a completely unique skillset to Turing School, serving as our in-house General Counsel. She is an attorney specialized in general business practice. Prior to joining us, Rachel served the role of general counsel to many businesses on a contractual basis. She also has expertise maintaining the corporate governance of a non-profit organization, which proves vital to our own organizational structure. This expertise is rounded out by her professional experience in human resources and management capacity. As Turing School’s General Counsel, Rachel utilizes her past experience to manage all legal and compliance aspects of running our nonprofit organization.

  .layout-inner-wrap
    %h2 Our Board of Directors

    %ul.people
      %li
        %h3 Ingrid Alongi
        %h4 Chairwoman of the Board<br/>CEO-Consulting, QuickLeft
        %p Ingrid brings experience with both interactive agencies and venture-funded start ups. She is committed to providing job stability for software engineers, and focuses on innovative, interesting and challenging work. With deep roots in the Colorodo technology community and many years experience as both a developer and leader, Ingrid is tasked with overseeing the long-run vision and trajectory of Turing.
      %li
        %h3 Yong Bakos
        %h4 Turing Board Vice-Chair<br/>Professor & Vice Chair, SMU's Center of Creative Computation
        %p Yong is a professional software engineer by trade and spent six years teaching at the Colorado School of Mines before joining SMU. He is able to provide a rare perspective combining both higher-ed and technical experience.
      %li
        %h3 Kareem Grant
        %h4 Turing Board Treasurer<br/>Developer, Hireology
        %p Kareem has an MBA from NYU, several years experience as a business consultant, and graduated from our first developer training class in Denver. He's gone on to work as a developer at CardFlight and recently joined the engineering team at Hireology. Kareem brings valuable perspective as an alumnus, developer, and experienced business expert.
      %li
        %h3 John Dowd
        %h4 Turing Board Secretary<br/>Navy Veteran, Developer, Business Owner
        %p John spent years as a Navy SEAL before becoming a software developer. Over the years he's taught himself the ins-and-outs of programming supported by attending several Jumpstart Lab training classes. Now John runs his own development company building tools to support the armed forces. For Turing, John leads our initiatives to recruit, train, support, and place veterans in great development careers.
      %li
        %h3 Roz Lemieux
        %h4 CEO at Attentive.ly, Partner at Fission Strategy
        %p Roz has spent many years in technology-driven community organizing in roles like the Executive Director of the New Organizing Institute, founding partner at Fission Strategy, and now building Attentive.ly. With deep experience running both small-businesses and non-profits, Roz helps Turing chart a path to long-run sustainability while following through on our non-profit mission.
      %li
        %h3 Chad Fowler
        %h4 Chief Technology Officer, 6Wunderkinder
        %p Chad was the catalyst in co-creating Hungry Academy at LivingSocial, the program that eventually evolved into Turing. Chad is well known as a conference speaker and organizer, his books like "The Passionate Programmer" have helped to shape a generation of software developers. As an expert developer, team leader, and software coach, Chad helps ensure Turing is delivering a world-class education.
      %li
        %h3 Dave Thomas
        %h4 Co-Founder, The Pragmatic Bookshelf
        %p Dave opened Ruby to the English-speaking world with his book "Programming Ruby" and changed thousands of careers with "The Pragmatic Programmer". From there, he co-founded The Pragmatic Bookshelf publishing company which has gone on to publish the top-choice books for dozens of technologies. Dave has spent hundreds of hours coaching other developers in the classroom and on the job. For Turing, Dave helps ensure the curricula and programs keep an eye on the larger industry trends and are ready for what's coming next.
      %li
        %h3 Randall Thomas
        %h4 Founder/CEO, Thunderbolt Labs
        %p Perhaps best known for his community building efforts, Randall is a legend in the Ruby community. With over 20 years experience as a developer, Randall's written everything from massive epidemic simulations to software launched into space. He has extensive experience in numerous programming languages, building meaningful brands among programmers, and running enterprise-scale software projects. For Turing, Randall helps set direction on reaching our target student audiences while keeping the curricula grounded in real-world needs.

= partial 'get_started'
