%title Turing School of Software & Design - Tuition
%meta{name: 'description', content: 'Tuition and financing options for attending Turing School of Software & Design to learn web application development in Denver, CO.'}

.mod-tuition
  .layout-inner-wrap
    %h2 Tuition
    %p Our program tuition is $17,500. To enroll, students can pay a $1,000 deposit and sign their enrollment agreement to secure a place in any open cohort. Cost-of-living and housing are not included.
    %p Our tuition includes a new Apple laptop, but students supplying their own "Mid 2012" or newer MacBook Air or Pro running OS X 10.9 can take a $1,200 credit from their tuition.

    .financing-options
      %h3 Financing Options

      :markdown
        To make our program more accessible, Turing has joined forces with great financing companies: [Earnest](https://www.meetearnest.com/turing), [Climb](https://climbcredit.co/student?schoolid=TS128551034259), [Affirm](https://www.affirm.com) and [Pave](http://hello.pave.com/turing).
        These partners believe so strongly in the value of a Turing School education that they’ve set up exclusive agreements with us to offer special status to Turing students.

        By working with one of these partners, you can start at Turing for as little as $1,000 up front and finance the rest at reasonable rates. You can check the financing options available below. Once you are accepted, we will send you an application link with follow up steps.

      .graphs
        = link_to image_tag('logos/earnest.png', alt: 'Earnest logo', class: 'earnest'), 'https://www.meetearnest.com/turing'
        = link_to image_tag('logos/climb.png',   alt: 'Climb logo',   class: 'climb'),   'https://climbcredit.co/student?schoolid=TS128551034259'
        = link_to image_tag('logos/affirm.png',  alt: 'Affirm logo',  class: 'affirm'),  'https://www.affirm.com/education/turingschool/info'
        = link_to image_tag('logos/pave.png',    alt: 'Pave logo',    class: 'pave'),    'http://hello.pave.com/turing'

    .alternative-in-house-financing
      %h3 Alternative In-House Financing

      :markdown
        For students unable to secure outside financing, Turing offers its own payment plans. The first monthly payment is due eight weeks after finishing the
        #{link_to('program', '/program')}. There is no penalty if you want to pay early.

      .graphs
        %ul
          %li.two
            %h3 Low<br>Deferment
            %dl
              %dt Deposit
              %dd $1,000
              %dt First Day
              %dd $9,000
              %dt 24 months @
              %dd $375/mo
              %dt Total Paid
              %dd.total $19,000
          %li.three
            %h3 Medium<br>Deferment
            %dl
              %dt Deposit
              %dd $1,000
              %dt First Day
              %dd $6,500
              %dt 30 months @
              %dd $433/mo
              %dt Total Paid
              %dd.total $20,500
          %li.four
            %h3 Maximum<br>Deferment
            %dl
              %dt Deposit
              %dd $1,000
              %dt First Day
              %dd $4,000
              %dt 36 months @
              %dd $472/mo
              %dt Total Paid
              %dd.total $22,000

    .tuition-guarantee
      %h3 Tuition Guarantee Notice

      :markdown
        Previously, Turing was able to offer a tuition guarantee to students successfully graduating the program. However, [the Colorado Division of Private Occupational Schools (DPOS)](http://highered.colorado.gov/dpos/) has informed us that we are not permitted to guarantee a refund of tuition based on job placement. Any reference to a tuition guarantee found previously on this Turing site or other advertisement is no longer valid.

        We are deeply invested in our students' success. When Turing was brand new, the guarantee was our promise that "if we say you're good, everyone else will too." If allowed, we'd continue to offer the guarantee. But now the results can speak for themselves.

        We continue to see an exceptionally high hiring rate: **95 percent of our graduates** find full-time employment as software developers within three months of graduation with an **average starting salary of $78K**. We have staff dedicated to assisting students with their job hunt, and the time-to-hire continues to decrease. While the guarantee is gone, job results have never been stronger.

        If you would like more information on this change, please contact DPOS. You can find its contact information [here](http://highered.colorado.gov/DPOS/About/staff.html).
= partial 'get_started'
